* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}


/* HEADER STYLES */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.navbar .logo {
  width: 18%;
  height: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.navbar .logo img {
  cursor: pointer;
  width: 100px;
}

.navbar .smart-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
}

.navbar .smart-icons span svg {
  font-size: 30px;
}

.navbar .smart-icons .notification,
.navbar .smart-icons .cart {
  position: relative;
}

.navbar .smart-icons .cart .cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(255, 0, 0);
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.navbar .smart-icons .notification .notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgb(255, 0, 0);
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.navbar .smart-icons span {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.navbar .smart-icons button {
  background: none;
  border: none;
}

.navbar .smart-icons .profile {
  display: flex;
  align-items: center;
}

.navbar .smart-icons .profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

main {
  margin-top: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 0 20px;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 20px;
}



.card {
  width: 200px;
  height: 200px;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  color: #fff;
  background: #0004ff;
}


.card .menu-items {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card .menu-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .menu-items .icons svg {
  gap: 10px;
  width: 50px;
  height: 100%;
}

.card .menu-items a {
  margin-top: 20px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 200px 200px 200px 200px;
  }
  .navbar .logo {
    width: 30%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 200px 200px 200px;
  }
  .navbar .logo {
    width: 30%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }

}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 200px 200px;
  }

  .navbar .logo {
    width: 40%;
    height: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: auto;

  }

  .card {
    width: 300px;
    height: 200px;
  }

  .navbar .logo .Logo_name{
    display: none;
  }
}







/* FOOTER STYLES */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b1b1b1;
  color: white;
  text-align: center;
  padding: 10px 0;
}